<div class="col-md-6 offset-md-3 mt-10">
    <div class="card">
       <h4 class="card-header text-center py-3">Reset Password</h4>
       <div class="card-body">
         <div *ngIf="message" class="alert alert-danger mt-3 mb-0">{{message}}</div>
          <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
               <label class="form-label">Email</label>
               <input type="email" placeholder="Email" formControlName="email" class="form-control" [ngClass]="{ 'has-error': isSubmitted && formControls['email'].errors }" />
               <div *ngIf="isSubmitted && formControls['email'].errors" class="help-block">
                  <div *ngIf="formControls['email'].errors['required']">Password required</div>
               </div>  
            </div>

            <div class="mb-3">
                <label class="form-label">Current Password</label>
                <input type="password" placeholder="Password" formControlName="password" class="form-control" [ngClass]="{ 'has-error': isSubmitted && formControls['password'].errors }" />
                <div *ngIf="isSubmitted && formControls['password'].errors" class="help-block">
                   <div *ngIf="formControls['password'].errors['required']">Password required</div>
                </div>                
             </div>

             <div class="mb-3">
                <label class="form-label">New Password</label>
                <input type="password" placeholder="New Password" formControlName="newPassword" class="form-control" [ngClass]="{ 'has-error': isSubmitted && formControls['newPassword'].errors }" />
                <div *ngIf="isSubmitted && formControls['newPassword'].errors" class="help-block">
                   <div *ngIf="formControls['newPassword'].errors['required']">New Password required</div>
                </div>
             </div>

             <div class="mb-3">
                <label class="form-label">Confirm Password</label>
                <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'has-error': isSubmitted && formControls['confirmPassword'].errors }" />
                <div *ngIf="isSubmitted && formControls['confirmPassword'].errors" class="help-block">
                   <div *ngIf="formControls['confirmPassword'].errors['required']">Confirm Password required</div>
                </div>
             </div>
             <div *ngIf="pwd_match" class="alert alert-danger mt-3 mb-0">{{pwd_match}}</div>
             <div class="text-center" style="display: flex; justify-content: center;">
                <button [disabled]="loading" class="btn btn-primary inline">
                <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>-->
                   Reset
                </button>
             </div>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
          </form>
       </div>
    </div>
 </div>